@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #f8faf9;
  --foreground: #333333;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}
